*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: none;
}
html,body{
    font-size: 62.5%;
    font-family: arial;
    text-rendering: optimizeLegibility;
    height: 100%;
}
.all{
   height: 100%;
   display: flex;
   flex-direction: row;
}
.left{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem black solid;
}
.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem black solid;
}
.elem{
    width: 35rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 0.1rem black solid;
    overflow-y: auto;
    padding: 3rem;
}
.lista--{
    width: 30rem;
    height: 5rem;
    margin: 2rem;
    font-size: 2rem;
}
li{
    font-size: 2rem;
    list-style: none;
    margin: 1rem;
}
h1{
    font-size: 2rem;
}